// Application-wide Styles
$primary-color: #369
$secondary-color: #444
$text-color: #333
$button-bg: #eee
$arial-stack: Arial, Helvetica, sans-serif
$serif-stack: Cambria, Georgia, serif

h1
  color: $primary-color
  font-family: $arial-stack
  font-size: 250%

h2, h3
  color: $secondary-color
  font-family: $arial-stack
  font-weight: lighter

body
  margin: 2em

body, input[type="text"], button
  color: $text-color
  font-family: $serif-stack

button
  background-color: $button-bg
  border: none
  border-radius: 4px
  cursor: pointer
  color: black
  font-size: 1.2rem
  padding: 1rem
  margin-right: 1rem
  margin-bottom: 1rem
  margin-top: 1rem

  &:hover
    background-color: black
    color: white

  &:disabled
    background-color: $button-bg
    color: #aaa
    cursor: auto

.header
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0 20px

  button
    background: #dc3545
    color: white
    border: none
    padding: 8px 16px
    border-radius: 4px
    cursor: pointer

    &:hover
      background: #c82333

// everywhere else
*
  font-family: $arial-stack